@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@using MEDIOClinic.Models.Widgets.CustomTableWidget

@model CustomTableViewModel


@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}
else
{
    <h3>
        @Model.CustomTableName
    </h3>
    <table>
        <thead>
            <tr>
                @foreach (string columnName in Model.ColumnNames)
                {
            <th>
                @columnName
            </th>
                }
            </tr>
        </thead>
        <tbody>
                @foreach (WidgetTableItem widgetTableItem in Model.Items)
                {
            <tr>
                     @foreach (string columnValue in widgetTableItem.ColumnValues)
                     {
            <td>
                          @columnValue
            </td>
                     }
            </tr>
                 }
        </tbody>
    </table>
   

}



